
#Created by Constraints Editor (xc7a100t-csg324-1) - 2017/06/23
NET "bt/seg_fp_clk" TNM_NET = bt/seg_fp_clk;
TIMESPEC TS_bt_seg_fp_clk = PERIOD "bt/seg_fp_clk" 10 ns HIGH 50%;
NET "clk"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";	
#NET "ctr<0>"          LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15
#NET "ctr<1>"          LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_EMCCLK_14
#NET "ctr<2>"          LOC=M13 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_D08_VREF_14

#left
NET "ctr_dir_out<0>"          LOC=C17 | IOSTANDARD=LVCMOS33; #IO_L20N_T3_A19_15
NET "ctr_dir_out<1>"          LOC=D18 | IOSTANDARD=LVCMOS33; #IO_L21N_T3_DQS_A18_15
NET "pwm_left_out"          LOC=E18 | IOSTANDARD=LVCMOS33; #IO_L21P_T3_DQS_15

#right
NET "ctr_dir_out<2>"          LOC=D17 | IOSTANDARD=LVCMOS33; #IO_L16N_T2_A27_15
NET "ctr_dir_out<3>"          LOC=E17 | IOSTANDARD=LVCMOS33; #IO_L16P_T2_A28_15
NET "pwm_right_out"          LOC=F18 | IOSTANDARD=LVCMOS33; #IO_L22N_T3_A16_15

#led
NET "led<0>"         LOC=H17 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15
NET "led<1>"         LOC=K15 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_RS1_15
NET "led<2>"         LOC=J13 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A25_15

#pwm ctr_led
NET "led_pwm_ctr<0>"        LOC=V14 | IOSTANDARD=LVCMOS33; #IO_L22N_T3_A04_D20_14
NET "led_pwm_ctr<1>"        LOC=V12 | IOSTANDARD=LVCMOS33; #IO_L20N_T3_A07_D23_14
NET "led_pwm_ctr<2>"        LOC=V11 | IOSTANDARD=LVCMOS33; #IO_L21N_T3_DQS_A06_D22_14
#hw
NET "hwsignal<0>"          LOC=H14 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_15
NET "hwsignal<1>"         LOC=H16 | IOSTANDARD=LVCMOS33; #IO_L13P_T2_MRCC_15
#hw_leds
NET "leds_hw<0>"         LOC=R18 | IOSTANDARD=LVCMOS33; #IO_L7P_T1_D09_14
NET "leds_hw<1>"         LOC=V17 | IOSTANDARD=LVCMOS33; #IO_L18N_T2_A11_D27_14

#chaoshengbo
NET "Trig"          LOC=K1 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_35
NET "Echo"          LOC=F6 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_VREF_35
#csbled
NET "En_tag"         LOC=V16 | IOSTANDARD=LVCMOS33; #IO_L16N_T2_A15_D31_14
NET "csb_En_negedge"         LOC=T15 | IOSTANDARD=LVCMOS33; #IO_L14N_T2_SRCC_14

#bluetooth
#
NET "Rx"          LOC=H4 | IOSTANDARD=LVCMOS33; #IO_L21N_T3_DQS_35
NET "Tx"          LOC=H1 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_35
#seg
NET "data<0>"             LOC=T10 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_A00_D16_14
NET "data<1>"             LOC=R10 | IOSTANDARD=LVCMOS33; #IO_25_14
NET "data<2>"             LOC=K16 | IOSTANDARD=LVCMOS33; #IO_25_15
NET "data<3>"             LOC=K13 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_A26_15
NET "data<4>"             LOC=P15 | IOSTANDARD=LVCMOS33; #IO_L13P_T2_MRCC_14
NET "data<5>"             LOC=T11 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_A10_D26_14
NET "data<6>"             LOC=L18 | IOSTANDARD=LVCMOS33; #IO_L4P_T0_D04_14
NET "data<7>"             LOC=H15 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_A21_VREF_15

NET "seg_slect<0>"          LOC=J17 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_FOE_B_15
NET "seg_slect<1>"          LOC=J18 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_FWE_B_15
NET "seg_slect<2>"          LOC=T9 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_A01_D17_14
NET "seg_slect<3>"          LOC=J14 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_A22_15
NET "seg_slect<4>"          LOC=P14 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_D12_14
NET "seg_slect<5>"          LOC=T14 | IOSTANDARD=LVCMOS33; #IO_L14P_T2_SRCC_14
NET "seg_slect<6>"          LOC=K2 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_35
NET "seg_slect<7>"          LOC=U13 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_A02_D18_14



